
/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  
  max-width: 130rem;
  margin: 0 auto;
  padding: 1.6rem 4.8rem;
  display: grid;
  gap: 2.4rem;
  align-items: center;
  justify-items: center;
}
.hero__logo {
  margin-bottom: 3.6rem;
}

.hero__description {
  margin-bottom: 2.4rem;
}

.hero__buttons, .cta__buttons {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
/***************************/
/*FEATURES*/
/**************************/
.section-features {
  padding: 4.8rem 0 9.6rem 0;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.features__heading-description {
  margin-bottom: 3.2rem;
}

.features__description {
  margin-bottom: 3.2rem;
}
.features__feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.features__icon {
  margin-bottom: 2.4rem;
}

.features__feature-description {
  margin-bottom: 3.2rem;
}
/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured-in{
  padding: 4.8rem 0 9.6rem 0;
}

.featured-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;

}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  padding: 4.8rem 0 9.6rem 0;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.cta__description {
  margin-bottom: 2.4rem;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  /* background-color: var(--color-text); */
  color: var(--color-primary);
  padding: 8rem 0;
  border-top: 1px solid #eee;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  align-items: center;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer__nav-links{
  list-style: none;
  display: grid;
  gap: 3.2rem;
}

.footer__nav-link:link,
.footer__nav-link:visited,
.socials__link:link,
.socials__link:visited{
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer__nav-link:hover,
.footer__nav-link:active {
  color: var(--color-primary)
}
.socials__icon {
  fill: currentColor;
}
.socials__icon:hover,
.socials__icon:active {
  fill: var(--color-primary);
}

.socials {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}